@font-face {
    font-family: x;
    src:url(fonts/RICKYBRANDON.otf)
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px - 14px;
}


@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }  
.header-logo{
    display:flex;
    align-self: center;
    justify-content: center;
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    list-style: none;
}
.header-links *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:  all 0.35s ease;
    transition: all 0.35s ease;
    font-family: x;
}
.header-links a {
    position: relative;
    color: rgba(3, 15, 3, 0.509);
    padding: 0.5rem 0.8rem;
    text-decoration: none;

}

.header-links a:before ,
.header-links a:after{
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35px ease;
    opacity: 0;
}
.header-links a:before{
    right: 0;
    top: 0;
    border-right: 3px solid#2059c2;
    border-top: 3px solid #2059c2;
    -webkit-transform: translate(-100%,50%);
    transform: translate(-100%,50%);
}

.header-links a::after{
    left: 0;
    bottom: 0;
    border-left: 3px solid #2059c2;
    border-bottom: 3px solid #2059c2;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%);
}
.header-links a:hover,
.header-links .url a{
    color:#070703
}
.header-links a:hover::before,
.header-links .url a::before,
.header-links a:hover::after,
.header-links .url a::after{
    -webkit-transform: translate(0%,0%);
    transform: translate(0%,0%);
    opacity: 9;
}

.under-header{
    display: flex;
    justify-content: space-evenly;
    

  
}
.para{
    display: flex;
    align-self: center;
    padding:0.5px 35px;
    max-width:30rem;
    color:whitesmoke;
    font-weight: 300;
    font-size: 19px;
  
}
.img{
    padding-top:30px ;
    padding-bottom: 30px;
    order: 2;
    
}
.under-header {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    flex-shrink:1 ;
}
.jeff{
  font-weight: bold;
}

.topic{
    text-align: center;
    font-size: 16px;
}
.container{
 display: flex;
 justify-content: center;
 gap: 8rem ;
 flex-wrap: wrap;
 margin-bottom: 2.8rem;
}


.items{
    max-width: 300px;
    text-align: center;
}

.title-song{
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
}


.info-footer{
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center;
 
}
.info{
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
}
.container img{
    transition: transform 0.4s;
    border: 2px solid #333;
    border-radius: 15px;
}
.container img:hover{
    transform: translateY(-12px);
    box-shadow: 5px 10px 15px #888888
}
.header-links a:hover{
   text-shadow: 5px 10px 20px #888888;
}

